body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #AAA;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a {
    color: #428BCA;
    text-decoration: none;
}
a:hover {
    color: #2A6496;
    text-decoration: underline;
}
.background {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}
#content {
    display: box;
    box-orient: vertical;
    box-pack: center;
    box-align: center;
    flex-align:center;
    -webkit-flex-align:center;
    padding: 20px;
    max-width: 400px;
    opacity: 1.0;
}
#meditation-text {
    text-align: center;
    font-size: 20px;
    color: #aaa;
    padding-bottom: 40px;
}
.btn-fixed {
    width: 34px;
    text-align: center;
    vertical-align: middle;
    border-color: #000;
    border-radius: 16px;
}
.btn-link-selected {
    border-color: #428BCA;
    border-radius: 16px;
    border: 1px solid;
    animation: click 0.5s ease-in-out 2 alternate;
    -webkit-animation: click 0.5s ease-in-out 2 alternate;
}
#time-options {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-align: center;
    -webkit-justify-content: center;
    -webkit-align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-align: center;
    justify-content: center;
    align-content: stretch;
    padding-bottom: 20px;
}
.time-selector-btn {
    cursor: pointer;
    width: 40px;
    color: #2A6496;
    font-size: 20px;
    text-align: center;
    padding: 4px;
}
.blink {
    animation: blink 1s ease-in-out infinite alternate;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
.full-btn {
    display: block;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    color: #428BCA;
    border-radius: 16px;
    border: 1px solid;
    padding: 10px 16px;
    vertical-align: middle;
    text-align: center;
}
#about-link {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 200px;
    text-align:right;
}
